@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;500;700&display=swap");

body {
    font-family: "IBM Plex Sans", sans-serif;
    font-family: "IBM Plex Sans Thai", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b4d4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.member {
    max-width: 600px;
    background-color: #eef5ff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #86b6f6;
    font-size: 32px;
    text-align: center;
}

.member-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.member-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid #000;
    transition: 0.5s ease;
}

p {
    color: #333;
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

button {
    width: 97.5px;
    height: 45px;
    background-color: #86b6f6;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #b4d4ff;
}

.member-item img:hover {
    transform: scale(1.05);
  }